[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Convert PNG to ICO and ICNS icons online - iConvert Icons
Type=Link
URL=https://iconverticons.com/online/
Icon=text-html
Name[de_DE]=Convert PNG to ICO and ICNS icons online - iConvert Icons
